:root   {
  font-size: 6.25%;
  /* 1 px == 1 rem */
}
html {
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
}
body {
  font-size: 16rem;
  font-family: "Fira sans", Arial, Helvetica, sans-serif;
  color: #141414;
}

ul{
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: #141414;

}

.subtitulo {
  font-size: 128rem;
  word-break: break-all;
  line-height: 1;
  text-transform: uppercase;
  max-width: 4ch; /*4 caracteres ele quebra*/
  }

  @media( max-width: 800px) {
    .subtitulo {
      font-size: 48rem;
      text-transform: capitalize;
      max-width: initial !important;
    }
  }